* {
    margin: 0;
    padding: 0;
    /* https://coolors.co/f4f1de-e07a5f-3d405b-81b29a-f2cc8f */
}

body {
    margin-top: 20px;
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #F4F1DE;
    font-family: 'Courier New', Courier, monospace;
}


li {
    display: inline;
    list-style:none;
    margin: 10px;
}
a {
    text-decoration: none;
    margin: 20px;
}

/* hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid grey;
    width: 100%;
} */
.container {
    /* border: 1px solid; */
    margin-top: 10%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-left: 100px;
    margin-right: 100px;
}

/* the green table */
.table { 
    margin: 20px;
    width: 450px;
    height: 400px;
    background-color: #81B29A;
    /* background-color: #7aa390; */
    border-radius: 10px;
    overflow: hidden;

}

.dices {
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 2px;
    font-size: 4rem;
    /* border: 1px solid red; */
}
span {
    margin:10px;
    font-size: 4rem;
    color:white;
}
 

p {
    color: white;
    font-size: 2.5rem;
    font-weight: 600;
}

.game {
    display: flex;
    flex-direction: column;

}

button {
    width: 150px;
    height: 50px;
    border-radius: 10px;
    border: none;
}

.char {
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.profile {
    width: 150px;
    height: 150px;
    margin: 5px;
    border-radius: 100%;
    background-color: white;
    display: flex;
}

.profile > img {
    object-fit: cover;
    border-radius: 100%;
    overflow: hidden;
}

h3{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: left ;
}
.score {
    margin-top: 10%;
}

.styled-table {
    /* border-collapse: collapse; */
    margin: 25px 0;
    font-size: 14px;
    min-width: 300px;
    /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); */
    border: 1px solid rgb(189, 189, 189);
    background-color: white;
}

.styled-table thead tr {
    background-color: #4f6b5e;
    color: #ffffff;
    text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
    text-align: left;
}

